@font-face {
  font-family: 'tequila_sunsetregular';
  src: url('fonts/tequilasunset-regular-webfont.woff2') format('woff2'),
    url('fonts/tequilasunset-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;700&family=Cormorant:wght@300;400;600;700&display=swap');

$colors: (background: #272727,
  foreground:#B8BABC,
  primary:#BF9139,
  text:#ffffff,
  secondary: #FFA800);

$padding: 20px;
$borders: 60px;

@function color($color-name) {
  @return map-get($colors, $color-name)
}


/* GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-title{
  font-family: tequila_sunsetregular;
  font-size: 80px;
}

#decor-title{
  font-family: 'Cormorant', serif;
  text-transform: uppercase;
  font-size: 43px;
  text-align: center;
  color: #fff;
}

#subtext{
  font-family: 'Amiko', sans-serif;
}

/* Unordered Lists */
ul {
  list-style-type: none;
}

/* Form Styling */
.input-style {
  border: 2px solid color(primary);
  background-color: color(background);
  width: 400px;
  height: 50px;
  margin: auto;
  display: block;
}


.input-style::placeholder {
  color: #FFFFFF;
  padding-left: 10px;
}

.input-style:focus, input:focus {
  color: #FFFFFF;

}

.input-style, select, textarea {
  color: #FFFFFF;
}

.textarea-style {
  border: 2px solid color(primary);
  background-color: color(background);
  width: 400px;
  height: 150px;
  margin: auto;
  display: block;
}


.textarea-style::placeholder {
  color: #FFFFFF;
  padding-left: 10px;
}

.textarea-style:focus, input:focus {
  color: #FFFFFF;

}

.textarea-style, select, textarea {
  color: #FFFFFF;
}

/* Navbar */
.navbar {
  border-bottom: #fff 1px solid;
  opacity: 0.9;
}

#home-section {
  background: url(../images/glencoe.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}



#home-section .home-inner {
  padding-top: 150px;
}

.browse_button{
  color: white;
  background-color: color(primary);
  border-color: color(primary);
  text-decoration: none;
  border-radius: 25px;
}

.browse_button:hover{
  color: white;
  background-color: #505557;
  border-color: #505557;
  text-decoration: none;
}

/* Icons */
.fab {
  color: white;
}

/* Colours and Fonts */
.primary-text{
  color: color(primary);
}

.primary-background{
  background-color: color(primary);
}

.form-background{
  background-color: color(background);
}

/* FORM STYLING */
#form-styling{
  background: url(../images/highlands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 150px;
}

.form-styling-button{
  display: inline-block;
  border-radius: 4px;
  background-color: color(primary);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 250px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 3px;
  }

.form-styling-button:hover{
  display: inline-block;
  border-radius: 4px;
  background-color: #505557;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  width: 250PX;
  transition: all 0.3s;
  cursor: pointer;
  margin: 3px;
}
  
.form-styling-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.form-styling-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
  
.form-styling-button:hover span {
  padding-right: 25px;
}
  
.form-styling-button:hover span:after {
  opacity: 1;
  right: 0;
}

.sign-up-button{
  display: inline-block;
  border-radius: 4px;
  background-color: color(primary);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.3s;
  cursor: pointer;
  }

.sign-up-button:hover{
    display: inline-block;
    border-radius: 4px;
    background-color: #505557;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
}
  
.sign-up-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.sign-up-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
  
.sign-up-button:hover span {
  padding-right: 15px;
}
  
.sign-up-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Footer */
footer{
  background-color: color(background);
}

.footer_logo {
  height: auto;
  width: 200px;
}


body {
  background-color: color(background);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/*NAVBAR and MAIN CONTENT*/


.content {

  background-color: color(background) !important;

  nav {
    background-color: color(background) !important;

    .navbar-toggler {
      color: color(text);
    }

    .nav-link {
      font-size: 20px;
      color: color(#fff) !important;

    }
  }


  .btn-primary {
    color: #fff;
    background-color: color(primary);
    border-color: color(primary);
  }

  .nav-link:hover {
    color: color(#fff) !important;
    background-color: color(primary);
  }

  #right-items {
    li {
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      list-style-type: none;
    }
  }


  .logo {
    max-height: 60px;
  }



  button {
    color: color(text);

    button:hover {
      background-color: white;
    }
  }

  .btn-outline-primary:hover {
    background-color: color(primary);
    border-color: color(primary);
  }


  .site-section {
    margin-top: 90px;
    margin-bottom: 190px;
  }
}

/*CASKS PAGE*/

#icon-boxes{
  .card{
    background-color: transparent;
    border-radius: 0px;
  }
}


/*ABOUT*/

.title-header {
  display: block;
  margin: auto;
  background-color: color(primary);
  padding: 70px;
  text-align: center;
  color: color(text);


  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
  }
}

.about-hero {

  .py-5 {
    padding-bottom: 3rem !important;
  }
}



/*Shop cards*/

.py-5 {
  padding-bottom: 0 !important;
}

.album {

  margin-top: 0px;
  margin-bottom: 90px;



  a.col {
    text-decoration: none;
  }

  .card {
    border: none;
    color: #000;
    text-decoration: none;
    text-transform: none;


    .card-title {
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      text-transform: none;
    }

    .card-text {
      font-size: 20px;
      text-decoration: none;
      text-transform: none;
    }



    .btn-primary {
      padding: 20px 30px;
      background: linear-gradient(135deg, rgba(155, 81, 224, 1) 0%, rgba(45, 156, 219, 1) 100%);
      box-sizing: border-box;
      text-decoration: none;
      color: #FFFFFF;
      text-align: center;
      transition: all 0.2s;
      border-radius: 0%;
      border: 0;
      margin: 20px;
      float: right;
      font-size: 20px;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;

      i {
        margin: 5px;
      }
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }




  }
}

/* Product */
.form-control-range {
  border-radius: 5%; 
  width: 100%;
}

input[type='range'] {
  -webkit-appearance: none;
  background: color(primary);
  color: #000;
  border-radius: 20%; 
}

input[type='range']::-webkit-slider-thumb {
  width: 30px;
  -webkit-appearance: none;
  height: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #434343;
}

/* About the Cask */
section.origin {
  position: relative;
  padding: 15rem 0;
  background-image: url("../images/examplelocation.png");
  background-position: center;
  background-size: cover;
}
section.origin .origin-content {
  position: relative;
  z-index: 1;
}
section.origin:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/*footer*/
.footer-main {
  margin-top: 50px;
  width: 100%;
  background: color(foreground);
  height: auto;
  margin: auto;
  padding-top: 20px;


}

.footer-icons {
  width: 100%;
  height: auto;
  margin: auto;

}

.footer-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.footer-icons ul li {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0px 10px;
  border-radius: 100%;
  background: color(foreground);
  box-shadow: 14px 14px 29px #425460,
    -14px -14px 29px #5e788a;

}

.footer-icons ul li a {
  color: color(text);
  font-size: 35px;
  display: block;

}

.footer-icons ul li a i {
  line-height: 70px;

}

.footer-icons .fa-facebook-f:hover {
  color: #fff;
  background: #3B5998;
  width: 70px;
  height: 70px;
  margin: 0px 0px;
  border-radius: 100%;
}

.footer-icons .fa-twitter:hover {
  color: #fff;
  background: #1DA1F2;
  width: 70px;
  height: 70px;
  margin: 0px 0px;
  border-radius: 100%;
}

.footer-icons .fa-instagram:hover {
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  width: 70px;
  height: 70px;
  margin: 0px 0px;
  border-radius: 100%;
}

.footer-icons .fa-youtube:hover {
  color: #fff;
  background: #DE0000;
  width: 70px;
  height: 70px;
  margin: 0px 0px;
  border-radius: 100%;
}



.footer-menu-one {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px
}

.footer-menu-one ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu-one ul li {
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-one ul li a {
  font-size: 20px;
  font-weight: 400;
  color: color(text);
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition-duration: 0.2s;
}

.footer-menu-one ul li a:hover {
  color: color(primary);
}

.footer-menu-two {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px
}

.footer-menu-two ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.footer-menu-two ul li {
  display: inline-block;
  margin: 0px 15px;
}

.footer-menu-two ul li a {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  color: color(text);
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition-duration: 0.2s;
}

.footer-menu-two ul li a:hover {
  color: color(primary);
}

.footer-bottom {
  margin-top: 20px;
  height: auto;
  margin: auto;
  background: linear-gradient(90deg, rgba(155, 81, 224, 1) 0%, rgba(45, 156, 219, 1) 100%);
  padding: 5px;
}

.footer-bottom {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-top: 20px;
  text-align: center;
  color: color(text);

  p {
    margin: 15px;
  }
}